keybinds {
  normal {
    bind "Ctrl g" { SwitchToMode "move"; }
    unbind "Alt k"
    unbind "Alt j"
    unbind "Alt h"
    unbind "Alt l"
    unbind "Ctrl o"
    unbind "Ctrl i"
    unbind "Ctrl h"
    unbind "Ctrl j"
    unbind "Ctrl k"
    unbind "Ctrl l"
    bind "Ctrl n" { NewTab; SwitchToMode "Normal"; }
    bind "Ctrl x" { CloseTab; SwitchToMode "Normal"; }
  }
}
